
    <style>
    body {
    background-color: brown;
    <h1>
    #isah {
color: brown;
    { font-size : 100px
    backgroud-color yellow

    }
  table {
        background-color: chartreuse;
  }
  li {
        margin: 10px;
        background-color: crimson;
        padding: 20px;

    }
    .form-control {
        
     border:background-color azure;appearance;align-self;animation-name:;
        

    }
    body{
        background-color: blue;
    }
